@font-face
{
    font-family:                    "Nexa";
    src:                            url("../../../resources/fonts/Nexa Light.otf");
}

*
{
    font-family:                    "Nexa";
}

/* Définition de la classe Panel générique */
.Panel
{   
    background-color:               #222;
    color:                          #eee;
}

.PanelClickable
{
    cursor:                         pointer;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}


/* Définition de la class Menu générique */
.Menu
{
    float:                          left;
    cursor:                         pointer;
    padding-right:                  8px;
}

.Menu .Title
{
    display:                        inline-block;
    color:                          #eee;
    margin:                         0px;
    padding:                        5px 10px;
}

.Menu .Options
{
    position:                       absolute;
    display:                        none;
    padding:                        5px 0px;
    background:                     #eee;
    width:                          150px;
}

.Menu:hover .Options
{
    display:                        block;
}

.Menu .Options .Option
{
    color:                          #222;
    background-color:               transparent;
    padding:                        5px 10px;
    margin:                         2px !important;
}

.Menu .Options .Option:hover
{
    color:                          #eee;
    background-color:               #222;
}

.Menu .Options .Option:active
{
    color:                          #666;
    background:                     transparent;
}

/* Définition de la classe Button générique */
.Button
{
    outline:                        0px;
    border:                         0px;

    cursor:                         pointer;
}

.Button:disabled
{
    opacity:                        0.5;
    
    cursor:                         auto;
}

.Node
{
    padding-left:                   20px;
}

.header_node
{
    width:                          100%;
    height:                         20px;
    margin-bottom:                  1px;
    
    background-color:               black;
    cursor:                         pointer;
}

.header_node:hover
{
    background-color:               #222;
}

.header_node.selected
{
    background-color:               white;
}

.header_title_node
{
    display:                        inline-block;
    width:                          calc(100% - 50px);
    overflow:                       hidden;
    
    vertical-align:                 middle;
    font-size:                      12px;
    color:                          #217ab2;
    white-space:                    nowrap;
    
    text-overflow:                  ellipsis;
}

.children_node
{
    width:                          100%;
    background-color:               black;
}