@font-face
{
    font-family:                    "Nexa";
    src:                            url("../../../resources/fonts/Nexa Light.otf");
}

*
{
    font-family:                    "Nexa";
}

/* Définition de la classe Panel générique */
.Panel
{   
    background-color:               #222;
    color:                          #eee;
}

.PanelClickable
{
    cursor:                         pointer;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}


/* Définition de la class Menu générique */
.Menu
{
    float:                          left;
    cursor:                         pointer;
    padding-right:                  8px;
}

.Menu .Title
{
    display:                        inline-block;
    color:                          #eee;
    margin:                         0px;
    padding:                        5px 10px;
}

.Menu .Options
{
    position:                       absolute;
    display:                        none;
    padding:                        5px 0px;
    background:                     #eee;
    width:                          150px;
}

.Menu:hover .Options
{
    display:                        block;
}

.Menu .Options .Option
{
    color:                          #222;
    background-color:               transparent;
    padding:                        5px 10px;
    margin:                         2px !important;
}

.Menu .Options .Option:hover
{
    color:                          #eee;
    background-color:               #222;
}

.Menu .Options .Option:active
{
    color:                          #666;
    background:                     transparent;
}

/* Définition de la classe Button générique */
.Button
{
    outline:                        0px;
    border:                         0px;
    
    margin:                         5px 5px;
    background-color:               #217ab2;
    color:                          white;
    text-shadow:                    rgb(15, 106, 88) 1px 1px,
                                    rgb(15, 106, 88) 2px 2px,
                                    rgb(15, 106, 88) 3px 3px;

    cursor:                         pointer;
}

.Button:disabled
{
    opacity:                        0.5;
    
    cursor:                         auto;
}

.Image_Button
{
    width:                          80%;
    height:                         80%;
}

.Input
{
    border:                         none;
    padding:                        2px;
}

.Color 
{
    background:                     transparent;
}

.node
{
    color:                          #217ab2;
    cursor:                         pointer;
}

.node_active {
    background-color:               white;
}

input[type=checkbox].Checkbox {
    
    overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].Checkbox + label.LabelForCheckbox {
padding-left:23px;
							height:18px; 
							display:inline-block;
							line-height:18px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:18px;
							vertical-align:middle;
							cursor:pointer;
}

input[type=checkbox].Checkbox:checked + label.LabelForCheckbox {
    background-position: 0 -18px;
}

.LabelForCheckbox {
    background-image:               url('../../../resources/images/checkbox_bg.png');
}
